# Build Artifacts
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
*.elf
*.bin
*.map
*.o
*.a
*.log

# Editors & OS
.vscode/
.idea/
.DS_Store
*~
*.swp
*.swo

# ESP-IDF
managed_components/
.espressif/
flasher_args.json

# Python
__pycache__/
venv/
.venv/
*.pyc

# STM32
mx.scratch
*.ioc
!32Raven.ioc
user_config.cmake
