
#
# ESP32
#

#
# PinMap
#

#
# Led
#
CONFIG_ESP32_PINMAP_LED_GPIO_NUM=8
CONFIG_ESP32_LED_ACTIVE_LOW=y
# end of Led

#
# Button
#
CONFIG_ESP32_PINMAP_BUTTON_GPIO_NUM=9
CONFIG_ESP32_BUTTON_ACTIVE_LOW=y
# end of Button

#
# Buzzer
#
CONFIG_ESP32_PINMAP_BUZZER_GPIO_NUM=10
# CONFIG_ESP32_BUZZER_ACTIVE_LOW is not set
# end of Buzzer

#
# I2C
#

#
# SSD1306 Panel
#
CONFIG_ESP32_PINMAP_SSD1306_PANEL_I2C_SDA_GPIO_NUM=5
CONFIG_ESP32_PINMAP_SSD1306_PANEL_I2C_SCL_GPIO_NUM=6
# end of SSD1306 Panel
# end of I2C

#
# UART
#

#
# FcLink
#
CONFIG_ESP32_PINMAP_FCLINK_UART_TX_GPIO_NUM=4
CONFIG_ESP32_PINMAP_FCLINK_UART_RX_GPIO_NUM=3
# end of FcLink

#
# RC Receiver
#
CONFIG_ESP32_PINMAP_RCRX_UART_TX_GPIO_NUM=21
CONFIG_ESP32_PINMAP_RCRX_UART_RX_GPIO_NUM=20
# end of RC Receiver
# end of UART

#
# Programmer
#
CONFIG_ESP32_PINMAP_PROGRAMMER_BOOT0_GPIO_NUM=0
CONFIG_ESP32_PINMAP_PROGRAMMER_NRST_GPIO_NUM=1
# end of Programmer
# end of PinMap

#
# SSD1306 Panel
#
CONFIG_ESP32_DISPLAY_PANEL_ENABLE=y
CONFIG_ESP32_DISPLAY_PANEL_SETTLE_TIME_MS=50
# CONFIG_ESP32_DISPLAY_PANEL_INVERT is not set
CONFIG_ESP32_DISPLAY_PANEL_ROTATE_180=y

#
# I2C
#
CONFIG_ESP32_DISPLAY_PANEL_I2C_ADDRESS=0x3C
CONFIG_ESP32_DISPLAY_PANEL_I2C_CLOCK_HZ=400000
CONFIG_ESP32_DISPLAY_PANEL_I2C_TIMEOUT_MS=100
CONFIG_ESP32_DISPLAY_PANEL_I2C_SCL_WAIT_US=20000
CONFIG_ESP32_DISPLAY_PANEL_I2C_GLITCH_IGNORE_CNT=7
CONFIG_ESP32_DISPLAY_PANEL_I2C_ENABLE_INTERNAL_PULLUP=y
# end of I2C
# end of SSD1306 Panel

#
# UI
#
CONFIG_ESP32_DISPLAY_MANAGER_FPS_CAP=60
CONFIG_ESP32_WIDGET_UI_TIMEOUT_S=60
# CONFIG_ESP32_WIDGET_UI_TRANSITION_SPEED_1X is not set
CONFIG_ESP32_WIDGET_UI_TRANSITION_SPEED_2X=y
# CONFIG_ESP32_WIDGET_UI_TRANSITION_SPEED_3X is not set
# end of UI

#
# Tone Player
#
CONFIG_ESP32_TONE_PLAYER_VOLUME=10
# end of Tone Player

#
# Widgets
#

#
# Boot
#
CONFIG_ESP32_WIDGET_BOOT_TIMEOUT_S=1
# end of Boot
# end of Widgets

#
# Button
#
CONFIG_ESP32_BUTTON_PULLUP=y
# CONFIG_ESP32_BUTTON_PULLDOWN is not set
CONFIG_ESP32_BUTTON_DEBOUNCE_MS=30
CONFIG_ESP32_BUTTON_LONG_PRESS_MS=500
CONFIG_ESP32_BUTTON_LONG_LONG_PRESS_MS=1500
# end of Button

#
# TCP Server
#
CONFIG_ESP32_TCP_SERVER_CTRL_PORT=9000
CONFIG_ESP32_TCP_SERVER_DATA_PORT=9001
CONFIG_ESP32_TCP_SERVER_BACKLOG=1
CONFIG_ESP32_TCP_SERVER_NONBLOCKING=y

#
# Keepalive
#
CONFIG_ESP32_TCP_SERVER_KEEPALIVE_IDLE_S=10
CONFIG_ESP32_TCP_SERVER_KEEPALIVE_INTERVAL_S=5
CONFIG_ESP32_TCP_SERVER_KEEPALIVE_COUNT=3
# end of Keepalive
# end of TCP Server

#
# UDP Server
#
CONFIG_ESP32_UDP_SERVER_PORT=14550
CONFIG_ESP32_UDP_SERVER_NONBLOCKING=y
# end of UDP Server

#
# Programmer
#
CONFIG_ESP32_PROGRAMMER_RESET_PULSE_MS=50
CONFIG_ESP32_PROGRAMMER_BOOT_SETTLE_MS=50
CONFIG_ESP32_PROGRAMMER_SYNC_TIMEOUT_MS=100
CONFIG_ESP32_PROGRAMMER_SYNC_RETRIES=10

#
# Verification
#
CONFIG_ESP32_PROGRAMMER_VERIFY_ESP32=y
CONFIG_ESP32_PROGRAMMER_VERIFY_ESP32_CHUNK_BYTES=1024
CONFIG_ESP32_PROGRAMMER_VERIFY_STM32=y
# end of Verification
# end of Programmer

#
# Wifi
#

#
# Access Point
#
CONFIG_ESP32_WIFI_AP_SSID="32Raven"
CONFIG_ESP32_WIFI_AP_PASSWORD="32Raven@1234"
CONFIG_ESP32_WIFI_AP_CHANNEL=1
CONFIG_ESP32_WIFI_AP_MAX_CONNECTIONS=1
CONFIG_ESP32_WIFI_AP_BEACON_INTERVAL_TU=100
# CONFIG_ESP32_WIFI_AP_HIDDEN is not set
# end of Access Point

#
# Protected Management Frames
#
CONFIG_ESP32_WIFI_PMF_CAPABLE=y
# CONFIG_ESP32_WIFI_PMF_REQUIRED is not set
# end of Protected Management Frames

CONFIG_ESP32_WIFI_POWER_SAVE_NONE=y
# CONFIG_ESP32_WIFI_POWER_SAVE_MIN_MODEM is not set
# CONFIG_ESP32_WIFI_POWER_SAVE_MAX_MODEM is not set
# end of Wifi

#
# FcLink
#

#
# Uart
#
# CONFIG_ESP32_FCLINK_UART_BAUD_9600 is not set
# CONFIG_ESP32_FCLINK_UART_BAUD_19200 is not set
# CONFIG_ESP32_FCLINK_UART_BAUD_38400 is not set
# CONFIG_ESP32_FCLINK_UART_BAUD_57600 is not set
# CONFIG_ESP32_FCLINK_UART_BAUD_115200 is not set
# CONFIG_ESP32_FCLINK_UART_BAUD_230400 is not set
# CONFIG_ESP32_FCLINK_UART_BAUD_460800 is not set
CONFIG_ESP32_FCLINK_UART_BAUD_921600=y
# CONFIG_ESP32_FCLINK_UART_BAUD_1000000 is not set
# CONFIG_ESP32_FCLINK_UART_BAUD_2000000 is not set
# CONFIG_ESP32_FCLINK_UART_BAUD_5000000 is not set
# CONFIG_ESP32_FCLINK_UART_PARITY_NONE is not set
CONFIG_ESP32_FCLINK_UART_PARITY_EVEN=y
# CONFIG_ESP32_FCLINK_UART_PARITY_ODD is not set
CONFIG_ESP32_FCLINK_UART_RX_BUFFER_SIZE=2048
CONFIG_ESP32_FCLINK_UART_TX_BUFFER_SIZE=2048
# end of Uart

CONFIG_ESP32_FCLINK_RC_FORWARD_RATE_HZ=50
CONFIG_ESP32_FCLINK_HANDSHAKE_ATTEMPTS=100
CONFIG_ESP32_FCLINK_HANDSHAKE_RETRY_PERIOD_MS=20
CONFIG_ESP32_FCLINK_RX_QUEUE_DEPTH=32
# end of FcLink

#
# Mavlink
#

#
# Uart
#
# CONFIG_ESP32_RCRX_UART_BAUD_9600 is not set
# CONFIG_ESP32_RCRX_UART_BAUD_19200 is not set
# CONFIG_ESP32_RCRX_UART_BAUD_38400 is not set
# CONFIG_ESP32_RCRX_UART_BAUD_57600 is not set
# CONFIG_ESP32_RCRX_UART_BAUD_115200 is not set
# CONFIG_ESP32_RCRX_UART_BAUD_230400 is not set
CONFIG_ESP32_RCRX_UART_BAUD_460800=y
# CONFIG_ESP32_RCRX_UART_BAUD_921600 is not set
# CONFIG_ESP32_RCRX_UART_BAUD_1000000 is not set
# CONFIG_ESP32_RCRX_UART_BAUD_2000000 is not set
# CONFIG_ESP32_RCRX_UART_BAUD_5000000 is not set
CONFIG_ESP32_RCRX_UART_PARITY_NONE=y
# CONFIG_ESP32_RCRX_UART_PARITY_EVEN is not set
# CONFIG_ESP32_RCRX_UART_PARITY_ODD is not set
CONFIG_ESP32_RCRX_UART_RX_BUFFER_SIZE=2048
CONFIG_ESP32_RCRX_UART_TX_BUFFER_SIZE=256
# end of Uart

#
# Identity
#
CONFIG_ESP32_MAVLINK_SYSID=1
CONFIG_ESP32_MAVLINK_COMPID=1
# end of Identity

#
# Transmit
#

#
# Periods
#
CONFIG_ESP32_MAVLINK_HEARTBEAT_PERIOD_MS=1000
CONFIG_ESP32_MAVLINK_GPS_PERIOD_MS=2000
CONFIG_ESP32_MAVLINK_ATTITUDE_PERIOD_MS=2000
CONFIG_ESP32_MAVLINK_GLOBAL_POSITION_PERIOD_MS=2000
CONFIG_ESP32_MAVLINK_BATTERY_STATUS_PERIOD_MS=2000
# end of Periods

#
# Timing
#
CONFIG_ESP32_MAVLINK_HEARTBEAT_DEADLINE_MS=1500
CONFIG_ESP32_MAVLINK_GPS_START_DELAY_MS=200
CONFIG_ESP32_MAVLINK_ATTITUDE_START_DELAY_MS=400
CONFIG_ESP32_MAVLINK_GLOBAL_POSITION_START_DELAY_MS=600
CONFIG_ESP32_MAVLINK_BATTERY_STATUS_START_DELAY_MS=800
# end of Timing
# end of Transmit

#
# Receive
#
CONFIG_ESP32_MAVLINK_RX_READ_CHUNK_SIZE=256
# end of Receive
# end of Mavlink
# end of ESP32

#
# STM32
#

#
# FcLink
#
CONFIG_STM32_FCLINK_TELEMETRY_RATE_HZ=25

#
# UART
#

#
# UART baud rate follows ESP32 -> FcLink
#
# CONFIG_STM32_FCLINK_UART_WORD_LENGTH_8BITS is not set
CONFIG_STM32_FCLINK_UART_WORD_LENGTH_9BITS=y
CONFIG_STM32_FCLINK_UART_STOP_BITS_1=y
# CONFIG_STM32_FCLINK_UART_STOP_BITS_2 is not set
# CONFIG_STM32_FCLINK_UART_PARITY_NONE is not set
CONFIG_STM32_FCLINK_UART_PARITY_EVEN=y
# CONFIG_STM32_FCLINK_UART_PARITY_ODD is not set
# CONFIG_STM32_FCLINK_UART_MODE_RX is not set
# CONFIG_STM32_FCLINK_UART_MODE_TX is not set
CONFIG_STM32_FCLINK_UART_MODE_TX_RX=y
CONFIG_STM32_FCLINK_UART_HW_FLOW_CONTROL_NONE=y
# CONFIG_STM32_FCLINK_UART_HW_FLOW_CONTROL_RTS is not set
# CONFIG_STM32_FCLINK_UART_HW_FLOW_CONTROL_CTS is not set
# CONFIG_STM32_FCLINK_UART_HW_FLOW_CONTROL_RTS_CTS is not set
CONFIG_STM32_FCLINK_UART_OVERSAMPLING_16=y
# CONFIG_STM32_FCLINK_UART_OVERSAMPLING_8 is not set
# end of UART
# end of FcLink

#
# IMU
#

#
# ICM42688P
#

#
# SPI
#
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV2 is not set
CONFIG_STM32_IMU_SPI_PRESCALER_DIV4=y
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV8 is not set
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV16 is not set
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV32 is not set
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV64 is not set
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV128 is not set
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV256 is not set
CONFIG_STM32_IMU_RECOVERY_OVERRUN_THRESHOLD=3
CONFIG_STM32_IMU_RECOVERY_OVERRUN_WINDOW_S=1
CONFIG_STM32_IMU_RECOVERY_FAULT_LED_PERIOD_MS=200
# end of SPI

#
# Gyroscope
#
# CONFIG_STM32_IMU_GYRO_ODR_32KHZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_16KHZ is not set
CONFIG_STM32_IMU_GYRO_ODR_8KHZ=y
# CONFIG_STM32_IMU_GYRO_ODR_4KHZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_2KHZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_1KHZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_500HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_200HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_100HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_50HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_25HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_12_5HZ is not set
CONFIG_STM32_IMU_GYRO_FS_2000DPS=y
# CONFIG_STM32_IMU_GYRO_FS_1000DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_500DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_250DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_125DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_62_5DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_31_25DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_15_625DPS is not set
CONFIG_STM32_IMU_GYRO_CAL_DURATION_S=2
CONFIG_STM32_IMU_GYRO_CAL_TIMEOUT_S=5
CONFIG_STM32_IMU_GYRO_CAL_STILL_THRESHOLD_RAW=64
# end of Gyroscope

#
# Accelerometer
#
# CONFIG_STM32_IMU_ACCEL_ODR_32KHZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_16KHZ is not set
CONFIG_STM32_IMU_ACCEL_ODR_8KHZ=y
# CONFIG_STM32_IMU_ACCEL_ODR_4KHZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_2KHZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_1KHZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_500HZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_200HZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_100HZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_50HZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_25HZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_12_5HZ is not set
# CONFIG_STM32_IMU_ACCEL_FS_16G is not set
CONFIG_STM32_IMU_ACCEL_FS_8G=y
# CONFIG_STM32_IMU_ACCEL_FS_4G is not set
# CONFIG_STM32_IMU_ACCEL_FS_2G is not set
# end of Accelerometer

#
# Filters
#
CONFIG_STM32_IMU_UI_FILTER_GYRO_BW=2
CONFIG_STM32_IMU_UI_FILTER_ACCEL_BW=3
CONFIG_STM32_IMU_UI_FILTER_GYRO_CFG1=0
CONFIG_STM32_IMU_UI_FILTER_ACCEL_CFG1=0
# CONFIG_STM32_IMU_NOTCH_ENABLED is not set
CONFIG_STM32_IMU_NOTCH_FREQ_HZ=0
CONFIG_STM32_IMU_NOTCH_BW_IDX=0
CONFIG_STM32_IMU_GYRO_AAF_DISABLE=y
CONFIG_STM32_IMU_GYRO_AAF_DELT=0
CONFIG_STM32_IMU_GYRO_AAF_DELT_SQR=0
CONFIG_STM32_IMU_GYRO_AAF_BITSHIFT=0
CONFIG_STM32_IMU_ACCEL_AAF_DISABLE=y
CONFIG_STM32_IMU_ACCEL_AAF_DELT=0
CONFIG_STM32_IMU_ACCEL_AAF_DELT_SQR=0
CONFIG_STM32_IMU_ACCEL_AAF_BITSHIFT=0
# end of Filters

#
# FIFO
#
CONFIG_STM32_IMU_FIFO_WATERMARK_RECORDS=8
# CONFIG_STM32_IMU_FIFO_HOLD_LAST is not set
# end of FIFO
# end of ICM42688P

#
# ICM20948
#
CONFIG_STM32_IMU_ICM20948_DMA_BUF_SIZE=32
CONFIG_STM32_IMU_ICM20948_FIFO_SIZE=512
CONFIG_STM32_IMU_ICM20948_ACCEL_RANGE=0x06
CONFIG_STM32_IMU_ICM20948_ACCEL_DLPF_CONFIG=0x19
CONFIG_STM32_IMU_ICM20948_ACCEL_SAMPLE_RATE_DIV=0
CONFIG_STM32_IMU_ICM20948_GYRO_RANGE=0x06
CONFIG_STM32_IMU_ICM20948_GYRO_DLPF_CONFIG=0x19
CONFIG_STM32_IMU_ICM20948_GYRO_SAMPLE_RATE_DIV=0
CONFIG_STM32_IMU_ICM20948_MAG_RATE=0x08
# CONFIG_STM32_IMU_ICM20948_SPI_PRESCALER_DIV2 is not set
# CONFIG_STM32_IMU_ICM20948_SPI_PRESCALER_DIV4 is not set
# CONFIG_STM32_IMU_ICM20948_SPI_PRESCALER_DIV8 is not set
# CONFIG_STM32_IMU_ICM20948_SPI_PRESCALER_DIV16 is not set
CONFIG_STM32_IMU_ICM20948_SPI_PRESCALER_DIV32=y
# CONFIG_STM32_IMU_ICM20948_SPI_PRESCALER_DIV64 is not set
# CONFIG_STM32_IMU_ICM20948_SPI_PRESCALER_DIV128 is not set
# CONFIG_STM32_IMU_ICM20948_SPI_PRESCALER_DIV256 is not set
# end of ICM20948
# end of IMU

#
# GPS
#

#
# (Deprecated) M9N
#

#
# UART
#
# CONFIG_STM32_GPS_M9N_FLASH_CONFIG is not set
# CONFIG_STM32_GPS_M9N_BAUD_9600 is not set
# CONFIG_STM32_GPS_M9N_BAUD_19200 is not set
# CONFIG_STM32_GPS_M9N_BAUD_38400 is not set
# CONFIG_STM32_GPS_M9N_BAUD_57600 is not set
CONFIG_STM32_GPS_M9N_BAUD_115200=y
# CONFIG_STM32_GPS_M9N_BAUD_230400 is not set
# CONFIG_STM32_GPS_M9N_BAUD_460800 is not set
# CONFIG_STM32_GPS_M9N_BAUD_921600 is not set
CONFIG_STM32_GPS_M9N_UART_WORD_LENGTH_8BITS=y
# CONFIG_STM32_GPS_M9N_UART_WORD_LENGTH_9BITS is not set
CONFIG_STM32_GPS_M9N_UART_STOP_BITS_1=y
# CONFIG_STM32_GPS_M9N_UART_STOP_BITS_2 is not set
CONFIG_STM32_GPS_M9N_UART_PARITY_NONE=y
# CONFIG_STM32_GPS_M9N_UART_PARITY_EVEN is not set
# CONFIG_STM32_GPS_M9N_UART_PARITY_ODD is not set
# CONFIG_STM32_GPS_M9N_UART_MODE_RX is not set
# CONFIG_STM32_GPS_M9N_UART_MODE_TX is not set
CONFIG_STM32_GPS_M9N_UART_MODE_TX_RX=y
CONFIG_STM32_GPS_M9N_UART_HW_FLOW_CONTROL_NONE=y
# CONFIG_STM32_GPS_M9N_UART_HW_FLOW_CONTROL_RTS is not set
# CONFIG_STM32_GPS_M9N_UART_HW_FLOW_CONTROL_CTS is not set
# CONFIG_STM32_GPS_M9N_UART_HW_FLOW_CONTROL_RTS_CTS is not set
CONFIG_STM32_GPS_M9N_UART_OVERSAMPLING_16=y
# CONFIG_STM32_GPS_M9N_UART_OVERSAMPLING_8 is not set
CONFIG_STM32_GPS_M9N_ACK_TIMEOUT_US=100000
# end of UART

#
# Protocols
#
CONFIG_STM32_GPS_M9N_PROTOCOL_UBX=y
# CONFIG_STM32_GPS_M9N_PROTOCOL_NMEA is not set
# end of Protocols

#
# Messages
#
CONFIG_STM32_GPS_M9N_MSG_NAV_PVT=y
# CONFIG_STM32_GPS_M9N_MSG_NAV_DOP is not set
CONFIG_STM32_GPS_M9N_MSG_NAV_COV=y
CONFIG_STM32_GPS_M9N_MSG_NAV_EOE=y
# end of Messages

#
# Navigation
#
CONFIG_STM32_GPS_M9N_RATE_MEAS_MS=100
# CONFIG_STM32_GPS_M9N_DYN_MODEL_PORTABLE is not set
# CONFIG_STM32_GPS_M9N_DYN_MODEL_STATIONARY is not set
# CONFIG_STM32_GPS_M9N_DYN_MODEL_PEDESTRIAN is not set
# CONFIG_STM32_GPS_M9N_DYN_MODEL_AUTOMOTIVE is not set
# CONFIG_STM32_GPS_M9N_DYN_MODEL_SEA is not set
# CONFIG_STM32_GPS_M9N_DYN_MODEL_AIRBORNE_1G is not set
CONFIG_STM32_GPS_M9N_DYN_MODEL_AIRBORNE_2G=y
# CONFIG_STM32_GPS_M9N_DYN_MODEL_AIRBORNE_4G is not set
# CONFIG_STM32_GPS_M9N_DYN_MODEL_WRIST is not set
# CONFIG_STM32_GPS_M9N_DYN_MODEL_BIKE is not set
# end of Navigation

#
# Constellations
#
CONFIG_STM32_GPS_M9N_GNSS_GPS=y
CONFIG_STM32_GPS_M9N_GNSS_GLO=y
CONFIG_STM32_GPS_M9N_GNSS_GAL=y
CONFIG_STM32_GPS_M9N_GNSS_BDS=y
# CONFIG_STM32_GPS_M9N_GNSS_SBAS is not set
CONFIG_STM32_GPS_M9N_GNSS_ITFM=y
# end of Constellations

#
# Timepulse
#
CONFIG_STM32_GPS_M9N_TP1_ENA=y
CONFIG_STM32_GPS_M9N_TP1_PERIOD=1000000
CONFIG_STM32_GPS_M9N_TP1_LEN=50000
# CONFIG_STM32_GPS_M9N_TP1_TIMEGRID_UTC is not set
CONFIG_STM32_GPS_M9N_TP1_TIMEGRID_GPS=y
# CONFIG_STM32_GPS_M9N_TP1_TIMEGRID_GLONASS is not set
# CONFIG_STM32_GPS_M9N_TP1_TIMEGRID_BEIDOU is not set
# CONFIG_STM32_GPS_M9N_TP1_TIMEGRID_GALILEO is not set
CONFIG_STM32_GPS_M9N_TP1_SYNC_GNSS=y
CONFIG_STM32_GPS_M9N_TP1_ALIGN_TO_TOW=y
CONFIG_STM32_GPS_M9N_TP1_POL_RISING=y
# end of Timepulse
# end of (Deprecated) M9N

#
# M10
#

#
# UART
#
CONFIG_STM32_GPS_M10_UART_ENABLED=y
# CONFIG_STM32_GPS_M10_BAUD_9600 is not set
# CONFIG_STM32_GPS_M10_BAUD_19200 is not set
# CONFIG_STM32_GPS_M10_BAUD_38400 is not set
# CONFIG_STM32_GPS_M10_BAUD_57600 is not set
CONFIG_STM32_GPS_M10_BAUD_115200=y
# CONFIG_STM32_GPS_M10_BAUD_230400 is not set
# CONFIG_STM32_GPS_M10_BAUD_460800 is not set
# CONFIG_STM32_GPS_M10_BAUD_921600 is not set
CONFIG_STM32_GPS_M10_UART_WORD_LENGTH_8BITS=y
# CONFIG_STM32_GPS_M10_UART_WORD_LENGTH_9BITS is not set
CONFIG_STM32_GPS_M10_UART_STOP_BITS_1=y
# CONFIG_STM32_GPS_M10_UART_STOP_BITS_2 is not set
CONFIG_STM32_GPS_M10_UART_PARITY_NONE=y
# CONFIG_STM32_GPS_M10_UART_PARITY_EVEN is not set
# CONFIG_STM32_GPS_M10_UART_PARITY_ODD is not set
# CONFIG_STM32_GPS_M10_UART_MODE_RX is not set
# CONFIG_STM32_GPS_M10_UART_MODE_TX is not set
CONFIG_STM32_GPS_M10_UART_MODE_TX_RX=y
CONFIG_STM32_GPS_M10_UART_HW_FLOW_CONTROL_NONE=y
# CONFIG_STM32_GPS_M10_UART_HW_FLOW_CONTROL_RTS is not set
# CONFIG_STM32_GPS_M10_UART_HW_FLOW_CONTROL_CTS is not set
# CONFIG_STM32_GPS_M10_UART_HW_FLOW_CONTROL_RTS_CTS is not set
CONFIG_STM32_GPS_M10_UART_OVERSAMPLING_16=y
# CONFIG_STM32_GPS_M10_UART_OVERSAMPLING_8 is not set
CONFIG_STM32_GPS_M10_ACK_TIMEOUT_US=100000
# end of UART

#
# Protocols
#
CONFIG_STM32_GPS_M10_PROTOCOL_UBX=y
# CONFIG_STM32_GPS_M10_PROTOCOL_NMEA is not set
# end of Protocols

#
# Messages
#
CONFIG_STM32_GPS_M10_MSG_NAV_PVT=y
# CONFIG_STM32_GPS_M10_MSG_NAV_DOP is not set
CONFIG_STM32_GPS_M10_MSG_NAV_COV=y
CONFIG_STM32_GPS_M10_MSG_NAV_EOE=y
# end of Messages

#
# Navigation
#
CONFIG_STM32_GPS_M10_RATE_MEAS_MS=100
# CONFIG_STM32_GPS_M10_DYN_MODEL_PORTABLE is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_STATIONARY is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_PEDESTRIAN is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_AUTOMOTIVE is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_SEA is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_AIRBORNE_1G is not set
CONFIG_STM32_GPS_M10_DYN_MODEL_AIRBORNE_2G=y
# CONFIG_STM32_GPS_M10_DYN_MODEL_AIRBORNE_4G is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_WRIST is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_BIKE is not set
# end of Navigation

#
# Constellations
#
CONFIG_STM32_GPS_M10_GNSS_GPS=y
CONFIG_STM32_GPS_M10_GNSS_GLO=y
CONFIG_STM32_GPS_M10_GNSS_GAL=y
CONFIG_STM32_GPS_M10_GNSS_BDS=y
# CONFIG_STM32_GPS_M10_GNSS_SBAS is not set
CONFIG_STM32_GPS_M10_GNSS_ITFM=y
# end of Constellations

#
# Timepulse
#
CONFIG_STM32_GPS_M10_TP1_ENA=y
CONFIG_STM32_GPS_M10_TP1_PERIOD=1000000
CONFIG_STM32_GPS_M10_TP1_LEN=50000
# CONFIG_STM32_GPS_M10_TP1_TIMEGRID_UTC is not set
CONFIG_STM32_GPS_M10_TP1_TIMEGRID_GPS=y
# CONFIG_STM32_GPS_M10_TP1_TIMEGRID_GLONASS is not set
# CONFIG_STM32_GPS_M10_TP1_TIMEGRID_BEIDOU is not set
# CONFIG_STM32_GPS_M10_TP1_TIMEGRID_GALILEO is not set
CONFIG_STM32_GPS_M10_TP1_SYNC_GNSS=y
CONFIG_STM32_GPS_M10_TP1_ALIGN_TO_TOW=y
CONFIG_STM32_GPS_M10_TP1_POL_RISING=y
# end of Timepulse
# end of M10
# end of GPS

#
# Button
#
# CONFIG_STM32_BUTTON_ACTIVE_LOW is not set
CONFIG_STM32_BUTTON_DEBOUNCE_MS=50
CONFIG_STM32_BUTTON_LONG_PRESS_MS=500
# end of Button

#
# RC Receiver
#

#
# Enabled Channels
#
CONFIG_STM32_RC_CHANNEL_1_ENABLED=y
CONFIG_STM32_RC_CHANNEL_2_ENABLED=y
CONFIG_STM32_RC_CHANNEL_3_ENABLED=y
CONFIG_STM32_RC_CHANNEL_4_ENABLED=y
CONFIG_STM32_RC_CHANNEL_5_ENABLED=y
CONFIG_STM32_RC_CHANNEL_6_ENABLED=y
CONFIG_STM32_RC_CHANNEL_7_ENABLED=y
CONFIG_STM32_RC_CHANNEL_8_ENABLED=y
# CONFIG_STM32_RC_CHANNEL_9_ENABLED is not set
# CONFIG_STM32_RC_CHANNEL_10_ENABLED is not set
# CONFIG_STM32_RC_CHANNEL_11_ENABLED is not set
# CONFIG_STM32_RC_CHANNEL_12_ENABLED is not set
# CONFIG_STM32_RC_CHANNEL_13_ENABLED is not set
# CONFIG_STM32_RC_CHANNEL_14_ENABLED is not set
# CONFIG_STM32_RC_CHANNEL_15_ENABLED is not set
# CONFIG_STM32_RC_CHANNEL_16_ENABLED is not set
# end of Enabled Channels
# end of RC Receiver
# end of STM32
