
#
# Common
#
CONFIG_COMMON_AIRFRAME_QUAD_X=y
# CONFIG_COMMON_AIRFRAME_QUAD_PLUS is not set

#
# FcLink
#
# CONFIG_COMMON_FCLINK_BAUD_9600 is not set
# CONFIG_COMMON_FCLINK_BAUD_19200 is not set
# CONFIG_COMMON_FCLINK_BAUD_38400 is not set
# CONFIG_COMMON_FCLINK_BAUD_57600 is not set
# CONFIG_COMMON_FCLINK_BAUD_115200 is not set
# CONFIG_COMMON_FCLINK_BAUD_230400 is not set
# CONFIG_COMMON_FCLINK_BAUD_460800 is not set
CONFIG_COMMON_FCLINK_BAUD_921600=y
# CONFIG_COMMON_FCLINK_BAUD_1000000 is not set
# CONFIG_COMMON_FCLINK_BAUD_2000000 is not set
# CONFIG_COMMON_FCLINK_BAUD_5000000 is not set
CONFIG_COMMON_FCLINK_EXCHANGE_INTERVAL_MS=300
CONFIG_COMMON_FCLINK_PEER_TIMEOUT_EXCHANGES=5
# end of FcLink
# end of Common

#
# ESP32
#

#
# Pin Map
#
CONFIG_ESP32_PINMAP_LED_GPIO_NUM=8
CONFIG_ESP32_PINMAP_BUTTON_GPIO_NUM=9
CONFIG_ESP32_PINMAP_BUZZER_GPIO_NUM=10

#
# SSD1306 Panel I2C
#
CONFIG_ESP32_PINMAP_SSD1306_PANEL_I2C_SDA_GPIO_NUM=5
CONFIG_ESP32_PINMAP_SSD1306_PANEL_I2C_SCL_GPIO_NUM=6
# end of SSD1306 Panel I2C

#
# FcLink UART
#
CONFIG_ESP32_PINMAP_FCLINK_UART_TX_GPIO_NUM=4
CONFIG_ESP32_PINMAP_FCLINK_UART_RX_GPIO_NUM=3
# end of FcLink UART

#
# Telem UART
#
CONFIG_ESP32_PINMAP_TELEM_UART_TX_GPIO_NUM=20
CONFIG_ESP32_PINMAP_TELEM_UART_RX_GPIO_NUM=21
# end of Telem UART

#
# Programmer
#
CONFIG_ESP32_PINMAP_PROGRAMMER_BOOT0_GPIO_NUM=0
CONFIG_ESP32_PINMAP_PROGRAMMER_NRST_GPIO_NUM=1
# end of Programmer
# end of Pin Map

#
# Peripherals
#

#
# LED
#
CONFIG_ESP32_LED_ACTIVE_LOW=y

#
# LEDC
#
CONFIG_ESP32_LED_LEDC_TIMER=0
CONFIG_ESP32_LED_LEDC_CHANNEL=0
CONFIG_ESP32_LED_LEDC_DUTY_RES_BITS=13
CONFIG_ESP32_LED_LEDC_FREQ_HZ=5000
# end of LEDC
# end of LED

#
# Button
#
CONFIG_ESP32_BUTTON_ACTIVE_LOW=y
CONFIG_ESP32_BUTTON_PULLUP=y
# CONFIG_ESP32_BUTTON_PULLDOWN is not set

#
# Timing
#
CONFIG_ESP32_BUTTON_DEBOUNCE_MS=30
CONFIG_ESP32_BUTTON_LONG_PRESS_MS=500
# end of Timing
# end of Button

#
# Buzzer
#
# CONFIG_ESP32_BUZZER_ACTIVE_LOW is not set

#
# LEDC
#
CONFIG_ESP32_BUZZER_LEDC_TIMER=1
CONFIG_ESP32_BUZZER_LEDC_CHANNEL=1
CONFIG_ESP32_BUZZER_LEDC_DUTY_RES_BITS=10
CONFIG_ESP32_BUZZER_MAX_NOTE_HZ=20000
# end of LEDC
# end of Buzzer

#
# SSD1306 Panel
#
CONFIG_ESP32_DISPLAY_PANEL_ENABLE=y
CONFIG_ESP32_DISPLAY_PANEL_SETTLE_TIME_MS=50
# CONFIG_ESP32_DISPLAY_PANEL_INVERT is not set
CONFIG_ESP32_DISPLAY_PANEL_ROTATE_180=y

#
# I2C
#
CONFIG_ESP32_DISPLAY_PANEL_I2C_ADDRESS=0x3C
CONFIG_ESP32_DISPLAY_PANEL_I2C_CLOCK_HZ=400000
CONFIG_ESP32_DISPLAY_PANEL_I2C_TIMEOUT_MS=100
CONFIG_ESP32_DISPLAY_PANEL_I2C_SCL_WAIT_US=20000
# end of I2C
# end of SSD1306 Panel

#
# FcLink UART
#

#
# Baud rate and parity live under Common -> FcLink
#
CONFIG_ESP32_FCLINK_UART_RX_BUFFER_SIZE=2048
CONFIG_ESP32_FCLINK_UART_TX_BUFFER_SIZE=2048
# end of FcLink UART

#
# Telem UART
#
# CONFIG_ESP32_TELEM_UART_BAUD_9600 is not set
# CONFIG_ESP32_TELEM_UART_BAUD_19200 is not set
# CONFIG_ESP32_TELEM_UART_BAUD_38400 is not set
CONFIG_ESP32_TELEM_UART_BAUD_57600=y
# CONFIG_ESP32_TELEM_UART_BAUD_115200 is not set
# CONFIG_ESP32_TELEM_UART_BAUD_230400 is not set
# CONFIG_ESP32_TELEM_UART_BAUD_460800 is not set
CONFIG_ESP32_TELEM_UART_RX_BUFFER_SIZE=1024
CONFIG_ESP32_TELEM_UART_TX_BUFFER_SIZE=1024
# end of Telem UART

#
# Wifi
#

#
# Access Point
#
CONFIG_ESP32_WIFI_AP_SSID="32Raven"
CONFIG_ESP32_WIFI_AP_PASSWORD="32Raven@1234"
CONFIG_ESP32_WIFI_AP_CHANNEL=1
CONFIG_ESP32_WIFI_AP_MAX_CONNECTIONS=1
CONFIG_ESP32_WIFI_AP_BEACON_INTERVAL_TU=100
# CONFIG_ESP32_WIFI_AP_HIDDEN is not set
# end of Access Point

#
# Protected Management Frames
#
CONFIG_ESP32_WIFI_PMF_CAPABLE=y
# CONFIG_ESP32_WIFI_PMF_REQUIRED is not set
# end of Protected Management Frames
# end of Wifi
# end of Peripherals

#
# Services
#

#
# UI
#
CONFIG_ESP32_DISPLAY_MANAGER_FPS_CAP=60
CONFIG_ESP32_WIDGET_UI_TIMEOUT_S=60
CONFIG_ESP32_WIDGET_BOOT_TIMEOUT_S=1
# CONFIG_ESP32_WIDGET_UI_TRANSITION_SPEED_1X is not set
CONFIG_ESP32_WIDGET_UI_TRANSITION_SPEED_2X=y
# CONFIG_ESP32_WIDGET_UI_TRANSITION_SPEED_3X is not set
# end of UI

#
# Tone Player
#
CONFIG_ESP32_TONE_PLAYER_VOLUME=10
# end of Tone Player

#
# FcLink
#
CONFIG_ESP32_FCLINK_INVALID_PACKET_THRESHOLD=10
CONFIG_ESP32_FCLINK_HANDSHAKE_WINDOW_S=3
# end of FcLink

#
# Programmer
#
CONFIG_ESP32_PROGRAMMER_RESET_PULSE_MS=50
CONFIG_ESP32_PROGRAMMER_BOOT_SETTLE_MS=50
CONFIG_ESP32_PROGRAMMER_SYNC_TIMEOUT_MS=100
CONFIG_ESP32_PROGRAMMER_SYNC_RETRIES=10

#
# Verification
#
CONFIG_ESP32_PROGRAMMER_VERIFY_ESP32=y
CONFIG_ESP32_PROGRAMMER_VERIFY_ESP32_CHUNK_BYTES=1024
CONFIG_ESP32_PROGRAMMER_VERIFY_STM32=y
# end of Verification
# end of Programmer

#
# Mavlink
#

#
# Identity
#
CONFIG_ESP32_MAVLINK_IDENTITY_SYSID=1
CONFIG_ESP32_MAVLINK_IDENTITY_COMPID=1
# end of Identity

#
# Transmit
#

#
# Periods
#
CONFIG_ESP32_MAVLINK_TX_PERIODS_HB_MS=1000
CONFIG_ESP32_MAVLINK_TX_PERIODS_GPS_MS=2000
CONFIG_ESP32_MAVLINK_TX_PERIODS_ATT_MS=2000
CONFIG_ESP32_MAVLINK_TX_PERIODS_GPOS_MS=2000
CONFIG_ESP32_MAVLINK_TX_PERIODS_BATT_MS=2000
CONFIG_ESP32_MAVLINK_TX_PERIODS_RC_MS=40
CONFIG_ESP32_MAVLINK_TX_PERIODS_ESC_MS=2000
# end of Periods

#
# Timing
#
CONFIG_ESP32_MAVLINK_TX_SCHEDULE_HB_DEADLINE_MS=1500
# end of Timing
# end of Transmit
# end of Mavlink

#
# Network
#

#
# TCP Server
#
CONFIG_ESP32_TCP_SERVER_CTRL_PORT=9000
CONFIG_ESP32_TCP_SERVER_DATA_PORT=9001

#
# Keepalive
#
CONFIG_ESP32_TCP_SERVER_KEEPALIVE_IDLE_S=10
CONFIG_ESP32_TCP_SERVER_KEEPALIVE_INTERVAL_S=5
CONFIG_ESP32_TCP_SERVER_KEEPALIVE_COUNT=3
# end of Keepalive
# end of TCP Server

#
# UDP Server
#
CONFIG_ESP32_UDP_SERVER_PORT=14550

#
# Bandwidth Limits
#
CONFIG_ESP32_UDP_SERVER_UPLOAD_CAP_KBITS=40
CONFIG_ESP32_UDP_SERVER_DOWNLOAD_CAP_KBITS=40
CONFIG_ESP32_UDP_SERVER_OVERFLOW_THRESHOLD=16
# end of Bandwidth Limits
# end of UDP Server

#
# USB CDC Server
#
CONFIG_ESP32_USB_CDC_SERVER_RX_BUFFER_BYTES=1024
CONFIG_ESP32_USB_CDC_SERVER_TX_BUFFER_BYTES=1024
# end of USB CDC Server
# end of Network
# end of Services
# end of ESP32

#
# STM32
#

#
# Diagnostics
#
# CONFIG_STM32_PROFILING is not set
# end of Diagnostics

#
# Pin Map
#

#
# User I/O
#

#
# LED
#
CONFIG_STM32_USER_LED_PORT_A=y
# CONFIG_STM32_USER_LED_PORT_B is not set
# CONFIG_STM32_USER_LED_PORT_C is not set
# CONFIG_STM32_USER_LED_PORT_D is not set
# CONFIG_STM32_USER_LED_PORT_E is not set
CONFIG_STM32_USER_LED_PIN=1
# end of LED

#
# Button
#
CONFIG_STM32_USER_BTN_PORT_A=y
# CONFIG_STM32_USER_BTN_PORT_B is not set
# CONFIG_STM32_USER_BTN_PORT_C is not set
# CONFIG_STM32_USER_BTN_PORT_D is not set
# CONFIG_STM32_USER_BTN_PORT_E is not set
CONFIG_STM32_USER_BTN_PIN=0
# end of Button
# end of User I/O

#
# UART
#

#
# USART1 (FcLink)
#
CONFIG_STM32_UART1_TX_PIN_PA9=y
# CONFIG_STM32_UART1_TX_PIN_PB6 is not set
CONFIG_STM32_UART1_RX_PIN_PA10=y
# CONFIG_STM32_UART1_RX_PIN_PB7 is not set
# end of USART1 (FcLink)

#
# USART2 (M10 GPS)
#
CONFIG_STM32_UART2_TX_PIN_PA2=y
# CONFIG_STM32_UART2_TX_PIN_PD5 is not set
CONFIG_STM32_UART2_RX_PIN_PA3=y
# CONFIG_STM32_UART2_RX_PIN_PD6 is not set
# end of USART2 (M10 GPS)

#
# USART3 (ESC Telemetry RX)
#
CONFIG_STM32_ESC_TLM_RX_PIN_PB11=y
# CONFIG_STM32_ESC_TLM_RX_PIN_PD9 is not set
# end of USART3 (ESC Telemetry RX)

#
# USART6 (RC Receiver)
#

#
# PC6/PC7 are fixed: the package bonds out no other USART6 pair
#
CONFIG_STM32_UART6_TX_PIN_PC6=y
CONFIG_STM32_UART6_RX_PIN_PC7=y
# end of USART6 (RC Receiver)
# end of UART

#
# USB (OTG FS Device)
#

#
# PA11/PA12 are fixed: the package bonds out no other OTG FS pair
#
CONFIG_STM32_USB_DM_PIN_PA11=y
CONFIG_STM32_USB_DP_PIN_PA12=y
# end of USB (OTG FS Device)

#
# SD Card (SDIO)
#

#
# PC8-PC12/PD2 are fixed: the package bonds out no other SDIO group
#
CONFIG_STM32_SDIO_D0_PIN_PC8=y
CONFIG_STM32_SDIO_D1_PIN_PC9=y
CONFIG_STM32_SDIO_D2_PIN_PC10=y
CONFIG_STM32_SDIO_D3_PIN_PC11=y
CONFIG_STM32_SDIO_CK_PIN_PC12=y
CONFIG_STM32_SDIO_CMD_PIN_PD2=y
# end of SD Card (SDIO)

#
# Motors (TIM1 DShot)
#

#
# Motor 1 (TIM1_CH1)
#
# CONFIG_STM32_DSHOT_MOTOR1_PA8 is not set
CONFIG_STM32_DSHOT_MOTOR1_PE9=y
# end of Motor 1 (TIM1_CH1)

#
# Motor 2 (TIM1_CH2)
#
# CONFIG_STM32_DSHOT_MOTOR2_PA9 is not set
CONFIG_STM32_DSHOT_MOTOR2_PE11=y
# end of Motor 2 (TIM1_CH2)

#
# Motor 3 (TIM1_CH3)
#
# CONFIG_STM32_DSHOT_MOTOR3_PA10 is not set
CONFIG_STM32_DSHOT_MOTOR3_PE13=y
# end of Motor 3 (TIM1_CH3)

#
# Motor 4 (TIM1_CH4)
#

#
# PE14 is fixed: TIM1_CH4's other pin, PA11, is USB D-
#
CONFIG_STM32_DSHOT_MOTOR4_PE14=y
# end of Motor 4 (TIM1_CH4)
# end of Motors (TIM1 DShot)

#
# SPI
#

#
# SPI1 (EEPROM / external flash)
#
# CONFIG_STM32_SPI1_SCK_PIN_PA5 is not set
CONFIG_STM32_SPI1_SCK_PIN_PB3=y
# CONFIG_STM32_SPI1_MISO_PIN_PA6 is not set
CONFIG_STM32_SPI1_MISO_PIN_PB4=y
# CONFIG_STM32_SPI1_MOSI_PIN_PA7 is not set
CONFIG_STM32_SPI1_MOSI_PIN_PB5=y

#
# Chip select (plain GPIO)
#
CONFIG_STM32_SPI1_CS_PORT_A=y
# CONFIG_STM32_SPI1_CS_PORT_B is not set
# CONFIG_STM32_SPI1_CS_PORT_C is not set
# CONFIG_STM32_SPI1_CS_PORT_D is not set
# CONFIG_STM32_SPI1_CS_PORT_E is not set
CONFIG_STM32_SPI1_CS_PIN=15
# end of Chip select (plain GPIO)
# end of SPI1 (EEPROM / external flash)

#
# SPI2 (IMU)
#
# CONFIG_STM32_SPI2_SCK_PIN_PB10 is not set
CONFIG_STM32_SPI2_SCK_PIN_PB13=y
CONFIG_STM32_SPI2_MISO_PIN_PB14=y
# CONFIG_STM32_SPI2_MISO_PIN_PC2 is not set
CONFIG_STM32_SPI2_MOSI_PIN_PB15=y
# CONFIG_STM32_SPI2_MOSI_PIN_PC3 is not set

#
# Chip select (plain GPIO)
#
CONFIG_STM32_SPI2_CS_PORT_A=y
# CONFIG_STM32_SPI2_CS_PORT_B is not set
# CONFIG_STM32_SPI2_CS_PORT_C is not set
# CONFIG_STM32_SPI2_CS_PORT_D is not set
# CONFIG_STM32_SPI2_CS_PORT_E is not set
CONFIG_STM32_SPI2_CS_PIN=4
# end of Chip select (plain GPIO)
# end of SPI2 (IMU)
# end of SPI

#
# IMU (ICM42688P)
#

#
# INT (EXTI input)
#
# CONFIG_STM32_IMU_INT_PORT_A is not set
CONFIG_STM32_IMU_INT_PORT_B=y
# CONFIG_STM32_IMU_INT_PORT_C is not set
# CONFIG_STM32_IMU_INT_PORT_D is not set
# CONFIG_STM32_IMU_INT_PORT_E is not set
CONFIG_STM32_IMU_INT_PIN=10
# end of INT (EXTI input)
# end of IMU (ICM42688P)

#
# Battery sense (ADC1)
#

#
# Voltage
#
# CONFIG_STM32_BATTERY_VOLTAGE_PORT_A is not set
# CONFIG_STM32_BATTERY_VOLTAGE_PORT_B is not set
CONFIG_STM32_BATTERY_VOLTAGE_PORT_C=y
CONFIG_STM32_BATTERY_VOLTAGE_PIN=0
# end of Voltage
# end of Battery sense (ADC1)
# end of Pin Map

#
# Peripherals
#

#
# RCC
#
CONFIG_STM32_RCC_OSC_HSE=y
# CONFIG_STM32_RCC_OSC_HSI is not set
CONFIG_STM32_RCC_HSE_HZ=8000000
CONFIG_STM32_RCC_PLL_M=8
CONFIG_STM32_RCC_PLL_N=336
CONFIG_STM32_RCC_PLL_P_DIV2=y
# CONFIG_STM32_RCC_PLL_P_DIV4 is not set
# CONFIG_STM32_RCC_PLL_P_DIV6 is not set
# CONFIG_STM32_RCC_PLL_P_DIV8 is not set
CONFIG_STM32_RCC_PLL_Q=7
CONFIG_STM32_RCC_AHB_DIV1=y
# CONFIG_STM32_RCC_AHB_DIV2 is not set
# CONFIG_STM32_RCC_AHB_DIV4 is not set
# CONFIG_STM32_RCC_AHB_DIV8 is not set
# CONFIG_STM32_RCC_AHB_DIV16 is not set
# CONFIG_STM32_RCC_AHB_DIV64 is not set
# CONFIG_STM32_RCC_AHB_DIV128 is not set
# CONFIG_STM32_RCC_AHB_DIV256 is not set
# CONFIG_STM32_RCC_AHB_DIV512 is not set
# CONFIG_STM32_RCC_APB1_DIV1 is not set
# CONFIG_STM32_RCC_APB1_DIV2 is not set
CONFIG_STM32_RCC_APB1_DIV4=y
# CONFIG_STM32_RCC_APB1_DIV8 is not set
# CONFIG_STM32_RCC_APB1_DIV16 is not set
# CONFIG_STM32_RCC_APB2_DIV1 is not set
CONFIG_STM32_RCC_APB2_DIV2=y
# CONFIG_STM32_RCC_APB2_DIV4 is not set
# CONFIG_STM32_RCC_APB2_DIV8 is not set
# CONFIG_STM32_RCC_APB2_DIV16 is not set
CONFIG_STM32_RCC_VOLTAGE_SCALE1=y
# CONFIG_STM32_RCC_VOLTAGE_SCALE2 is not set
# end of RCC

#
# Time Base
#
CONFIG_STM32_TIMEBASE_TIM5_TICK_HZ=1000
CONFIG_STM32_TIMEBASE_TIM5_AUTORELOAD_PRELOAD=y
# end of Time Base

#
# LED
#
CONFIG_STM32_LED_ACTIVE_LOW=y
# end of LED

#
# Button
#
# CONFIG_STM32_BUTTON_ACTIVE_LOW is not set
CONFIG_STM32_BUTTON_DEBOUNCE_MS=50
CONFIG_STM32_BUTTON_LONG_PRESS_MS=500
# end of Button

#
# USB CDC
#
CONFIG_STM32_USB_VENDOR_ID=0x0483
CONFIG_STM32_USB_PRODUCT_ID=0x5740
CONFIG_STM32_USB_MANUFACTURER="32Raven"
CONFIG_STM32_USB_PRODUCT="32Raven"
# end of USB CDC

#
# SPI
#

#
# SPI1 (EEPROM flash)
#
CONFIG_STM32_EE_SPI1_MAX_SCK_HZ=21000000
# end of SPI1 (EEPROM flash)

#
# SPI2 (IMU)
#
CONFIG_STM32_IMU_SPI_MAX_SCK_HZ=21000000
# end of SPI2 (IMU)
# end of SPI

#
# UART
#

#
# USART1 (FcLink)
#

#
# Baud rate and parity live under Common -> FcLink
#
CONFIG_STM32_FCLINK_UART_OVERSAMPLING_16=y
# CONFIG_STM32_FCLINK_UART_OVERSAMPLING_8 is not set
# end of USART1 (FcLink)

#
# USART2 (M10 GPS)
#
CONFIG_STM32_GPS_M10_UART_ENABLED=y
# CONFIG_STM32_GPS_M10_BAUD_9600 is not set
# CONFIG_STM32_GPS_M10_BAUD_19200 is not set
# CONFIG_STM32_GPS_M10_BAUD_38400 is not set
# CONFIG_STM32_GPS_M10_BAUD_57600 is not set
CONFIG_STM32_GPS_M10_BAUD_115200=y
# CONFIG_STM32_GPS_M10_BAUD_230400 is not set
# CONFIG_STM32_GPS_M10_BAUD_460800 is not set
# CONFIG_STM32_GPS_M10_BAUD_921600 is not set
CONFIG_STM32_GPS_M10_UART_WORD_LENGTH_8BITS=y
# CONFIG_STM32_GPS_M10_UART_WORD_LENGTH_9BITS is not set
CONFIG_STM32_GPS_M10_UART_STOP_BITS_1=y
# CONFIG_STM32_GPS_M10_UART_STOP_BITS_2 is not set
CONFIG_STM32_GPS_M10_UART_PARITY_NONE=y
# CONFIG_STM32_GPS_M10_UART_PARITY_EVEN is not set
# CONFIG_STM32_GPS_M10_UART_PARITY_ODD is not set
# CONFIG_STM32_GPS_M10_UART_MODE_RX is not set
# CONFIG_STM32_GPS_M10_UART_MODE_TX is not set
CONFIG_STM32_GPS_M10_UART_MODE_TX_RX=y
CONFIG_STM32_GPS_M10_UART_HW_FLOW_CONTROL_NONE=y
# CONFIG_STM32_GPS_M10_UART_HW_FLOW_CONTROL_RTS is not set
# CONFIG_STM32_GPS_M10_UART_HW_FLOW_CONTROL_CTS is not set
# CONFIG_STM32_GPS_M10_UART_HW_FLOW_CONTROL_RTS_CTS is not set
CONFIG_STM32_GPS_M10_UART_OVERSAMPLING_16=y
# CONFIG_STM32_GPS_M10_UART_OVERSAMPLING_8 is not set
CONFIG_STM32_GPS_M10_ACK_TIMEOUT_US=100000
# end of USART2 (M10 GPS)

#
# USART6 (RC Receiver)
#
# CONFIG_STM32_RC_RECEIVER_UART_BAUD_115200 is not set
# CONFIG_STM32_RC_RECEIVER_UART_BAUD_400000 is not set
# CONFIG_STM32_RC_RECEIVER_UART_BAUD_416666 is not set
CONFIG_STM32_RC_RECEIVER_UART_BAUD_420000=y
# CONFIG_STM32_RC_RECEIVER_UART_BAUD_460800 is not set
# CONFIG_STM32_RC_RECEIVER_UART_BAUD_921600 is not set
CONFIG_STM32_RC_RECEIVER_UART_WORD_LENGTH_8BITS=y
# CONFIG_STM32_RC_RECEIVER_UART_WORD_LENGTH_9BITS is not set
CONFIG_STM32_RC_RECEIVER_UART_STOP_BITS_1=y
# CONFIG_STM32_RC_RECEIVER_UART_STOP_BITS_2 is not set
CONFIG_STM32_RC_RECEIVER_UART_PARITY_NONE=y
# CONFIG_STM32_RC_RECEIVER_UART_PARITY_EVEN is not set
# CONFIG_STM32_RC_RECEIVER_UART_PARITY_ODD is not set
# CONFIG_STM32_RC_RECEIVER_UART_MODE_RX is not set
# CONFIG_STM32_RC_RECEIVER_UART_MODE_TX is not set
CONFIG_STM32_RC_RECEIVER_UART_MODE_TX_RX=y
CONFIG_STM32_RC_RECEIVER_UART_HW_FLOW_CONTROL_NONE=y
# CONFIG_STM32_RC_RECEIVER_UART_HW_FLOW_CONTROL_RTS is not set
# CONFIG_STM32_RC_RECEIVER_UART_HW_FLOW_CONTROL_CTS is not set
# CONFIG_STM32_RC_RECEIVER_UART_HW_FLOW_CONTROL_RTS_CTS is not set
CONFIG_STM32_RC_RECEIVER_UART_OVERSAMPLING_16=y
# CONFIG_STM32_RC_RECEIVER_UART_OVERSAMPLING_8 is not set
# end of USART6 (RC Receiver)
# end of UART

#
# IMU (ICM42688P)
#

#
# Clock
#
CONFIG_STM32_IMU_EXTERNAL_CLOCK_ENABLED=y
CONFIG_STM32_IMU_EXTERNAL_CLOCK_FREQ_HZ=32768
# end of Clock

#
# Gyroscope
#
# CONFIG_STM32_IMU_GYRO_ODR_32KHZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_16KHZ is not set
CONFIG_STM32_IMU_GYRO_ODR_8KHZ=y
# CONFIG_STM32_IMU_GYRO_ODR_4KHZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_2KHZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_1KHZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_500HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_200HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_100HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_50HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_25HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_12_5HZ is not set
CONFIG_STM32_IMU_GYRO_FS_2000DPS=y
# CONFIG_STM32_IMU_GYRO_FS_1000DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_500DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_250DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_125DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_62_5DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_31_25DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_15_625DPS is not set
CONFIG_STM32_IMU_GYRO_CAL_DURATION_S=2
CONFIG_STM32_IMU_GYRO_CAL_TIMEOUT_S=5
CONFIG_STM32_IMU_GYRO_CAL_STILL_THRESHOLD_RAW=64
# end of Gyroscope

#
# Accelerometer
#

#
# Accel ODR follows the gyro ODR: one FIFO record carries both
#
CONFIG_STM32_IMU_ACCEL_FS_16G=y
# CONFIG_STM32_IMU_ACCEL_FS_8G is not set
# CONFIG_STM32_IMU_ACCEL_FS_4G is not set
# CONFIG_STM32_IMU_ACCEL_FS_2G is not set
# end of Accelerometer

#
# Filters
#
CONFIG_STM32_IMU_UI_FILTER_GYRO_BW=15
CONFIG_STM32_IMU_UI_FILTER_ACCEL_BW=15
CONFIG_STM32_IMU_UI_FILTER_GYRO_CFG1=0
CONFIG_STM32_IMU_UI_FILTER_ACCEL_CFG1=0
# CONFIG_STM32_IMU_NOTCH_ENABLED is not set
CONFIG_STM32_IMU_NOTCH_FREQ_HZ=1000
CONFIG_STM32_IMU_NOTCH_BW_IDX=0
# CONFIG_STM32_IMU_GYRO_AAF_DISABLE is not set
# CONFIG_STM32_IMU_GYRO_AAF_258HZ is not set
# CONFIG_STM32_IMU_GYRO_AAF_536HZ is not set
CONFIG_STM32_IMU_GYRO_AAF_585HZ=y
# CONFIG_STM32_IMU_GYRO_AAF_997HZ is not set
# CONFIG_STM32_IMU_GYRO_AAF_1962HZ is not set
# CONFIG_STM32_IMU_ACCEL_AAF_DISABLE is not set
# CONFIG_STM32_IMU_ACCEL_AAF_258HZ is not set
# CONFIG_STM32_IMU_ACCEL_AAF_536HZ is not set
CONFIG_STM32_IMU_ACCEL_AAF_585HZ=y
# CONFIG_STM32_IMU_ACCEL_AAF_997HZ is not set
# CONFIG_STM32_IMU_ACCEL_AAF_1962HZ is not set
# end of Filters

#
# FIFO
#
CONFIG_STM32_CONTROL_LOOP_HZ=2048
# CONFIG_STM32_IMU_FIFO_HOLD_LAST is not set
CONFIG_STM32_IMU_FIFO_HIRES_EN=y
# end of FIFO
# end of IMU (ICM42688P)

#
# GPS (M10)
#

#
# Protocols
#
CONFIG_STM32_GPS_M10_PROTOCOL_UBX=y
# CONFIG_STM32_GPS_M10_PROTOCOL_NMEA is not set
# end of Protocols

#
# Messages
#
CONFIG_STM32_GPS_M10_MSG_NAV_PVT=y
# CONFIG_STM32_GPS_M10_MSG_NAV_DOP is not set
CONFIG_STM32_GPS_M10_MSG_NAV_COV=y
CONFIG_STM32_GPS_M10_MSG_NAV_EOE=y
# end of Messages

#
# Navigation
#
CONFIG_STM32_GPS_M10_RATE_MEAS_MS=100
# CONFIG_STM32_GPS_M10_DYN_MODEL_PORTABLE is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_STATIONARY is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_PEDESTRIAN is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_AUTOMOTIVE is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_SEA is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_AIRBORNE_1G is not set
CONFIG_STM32_GPS_M10_DYN_MODEL_AIRBORNE_2G=y
# CONFIG_STM32_GPS_M10_DYN_MODEL_AIRBORNE_4G is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_WRIST is not set
# CONFIG_STM32_GPS_M10_DYN_MODEL_BIKE is not set
# end of Navigation

#
# Constellations
#
CONFIG_STM32_GPS_M10_GNSS_GPS=y
CONFIG_STM32_GPS_M10_GNSS_GLO=y
CONFIG_STM32_GPS_M10_GNSS_GAL=y
CONFIG_STM32_GPS_M10_GNSS_BDS=y
# CONFIG_STM32_GPS_M10_GNSS_SBAS is not set
CONFIG_STM32_GPS_M10_GNSS_ITFM=y
# end of Constellations

#
# Timepulse
#
CONFIG_STM32_GPS_M10_TP1_ENA=y
CONFIG_STM32_GPS_M10_TP1_PERIOD=1000000
CONFIG_STM32_GPS_M10_TP1_LEN=50000
# CONFIG_STM32_GPS_M10_TP1_TIMEGRID_UTC is not set
CONFIG_STM32_GPS_M10_TP1_TIMEGRID_GPS=y
# CONFIG_STM32_GPS_M10_TP1_TIMEGRID_GLONASS is not set
# CONFIG_STM32_GPS_M10_TP1_TIMEGRID_BEIDOU is not set
# CONFIG_STM32_GPS_M10_TP1_TIMEGRID_GALILEO is not set
CONFIG_STM32_GPS_M10_TP1_SYNC_GNSS=y
CONFIG_STM32_GPS_M10_TP1_ALIGN_TO_TOW=y
CONFIG_STM32_GPS_M10_TP1_POL_RISING=y
# end of Timepulse
# end of GPS (M10)

#
# Battery Monitor
#
# CONFIG_STM32_BATTERY_CURRENT_MONITORING is not set
CONFIG_STM32_BATTERY_SAMPLE_PERIOD_MS=100
CONFIG_STM32_BATTERY_ADC_REFERENCE_MV=3300
CONFIG_STM32_BATTERY_ADC_OVERSAMPLE_COUNT=4
CONFIG_STM32_BATTERY_FILTER_TIME_CONSTANT_MS=300
CONFIG_STM32_BATTERY_ADC_TIMEOUT_US=150

#
# Voltage
#
CONFIG_STM32_BATTERY_VOLTAGE_MULTIPLIER_MILLI=10762
CONFIG_STM32_BATTERY_VOLTAGE_OFFSET_MV=0
CONFIG_STM32_BATTERY_CELL_COUNT=6
CONFIG_STM32_BATTERY_CELL_EMPTY_MV=3500
CONFIG_STM32_BATTERY_CELL_FULL_MV=4200
# end of Voltage
# end of Battery Monitor

#
# DShot TIM1
#
# CONFIG_STM32_DSHOT_TIM1_MODE_150 is not set
# CONFIG_STM32_DSHOT_TIM1_MODE_300 is not set
CONFIG_STM32_DSHOT_TIM1_MODE_600=y
# end of DShot TIM1

#
# ESC Telemetry
#
# CONFIG_STM32_ESC_TELEMETRY_HAS_CURRENT is not set
CONFIG_STM32_ESC_TELEMETRY_RESPONSE_TIMEOUT_US=2500
# end of ESC Telemetry
# end of Peripherals

#
# Services
#

#
# FcLink
#

#
# Telemetry topics
#
CONFIG_STM32_FCLINK_TOPIC_MAX_FRAMES_PER_POLL=2
CONFIG_STM32_FCLINK_TOPIC_SYSTEM_STATUS_PERIOD_MS=1000
CONFIG_STM32_FCLINK_TOPIC_SYSTEM_STATUS_PRIORITY=10
CONFIG_STM32_FCLINK_TOPIC_VEHICLE_STATUS_PERIOD_MS=1000
CONFIG_STM32_FCLINK_TOPIC_VEHICLE_STATUS_PRIORITY=12
CONFIG_STM32_FCLINK_TOPIC_GPS_PERIOD_MS=100
CONFIG_STM32_FCLINK_TOPIC_GPS_MAX_SILENCE_MS=5000
CONFIG_STM32_FCLINK_TOPIC_GPS_PRIORITY=8
CONFIG_STM32_FCLINK_TOPIC_ATTITUDE_PERIOD_MS=100
CONFIG_STM32_FCLINK_TOPIC_ATTITUDE_MAX_SILENCE_MS=1000
CONFIG_STM32_FCLINK_TOPIC_ATTITUDE_PRIORITY=7
CONFIG_STM32_FCLINK_TOPIC_ESC_TELEMETRY_PERIOD_MS=1000
CONFIG_STM32_FCLINK_TOPIC_ESC_TELEMETRY_PRIORITY=5
CONFIG_STM32_FCLINK_TOPIC_RC_CHANNELS_PERIOD_MS=40
CONFIG_STM32_FCLINK_TOPIC_RC_CHANNELS_PRIORITY=9
CONFIG_STM32_FCLINK_TOPIC_RC_CHANNELS_MAX_SILENCE_MS=1000
CONFIG_STM32_FCLINK_TOPIC_USB_STATUS_PERIOD_MS=100
CONFIG_STM32_FCLINK_TOPIC_USB_STATUS_PRIORITY=4
CONFIG_STM32_FCLINK_TOPIC_USB_STATUS_MAX_SILENCE_MS=300
# end of Telemetry topics
# end of FcLink

#
# MSP
#
CONFIG_STM32_MSP_BOARD_IDENTIFIER="RAVN"
CONFIG_STM32_MSP_BOARD_NAME="32Raven"
CONFIG_STM32_MSP_MANUFACTURER_ID="RAVN"
CONFIG_STM32_MSP_CRAFT_NAME="32Raven"
# end of MSP

#
# RC Receiver
#

#
# CRSF Telemetry
#
CONFIG_STM32_RC_RECEIVER_CRSF_MAX_FRAMES_PER_POLL=1

#
# Heartbeat
#
CONFIG_STM32_RC_RECEIVER_CRSF_HEARTBEAT_PERIOD_MS=1000
CONFIG_STM32_RC_RECEIVER_CRSF_HEARTBEAT_PRIORITY=15
# end of Heartbeat

#
# GPS
#
CONFIG_STM32_RC_RECEIVER_CRSF_GPS_PERIOD_MS=500
CONFIG_STM32_RC_RECEIVER_CRSF_GPS_PRIORITY=12
CONFIG_STM32_RC_RECEIVER_CRSF_GPS_SEND_ON_CHANGE=y
CONFIG_STM32_RC_RECEIVER_CRSF_GPS_MAX_SILENCE_MS=2000
CONFIG_STM32_RC_RECEIVER_CRSF_GPS_FRESH_TIMEOUT_MS=2000
# end of GPS

#
# Battery
#
CONFIG_STM32_RC_RECEIVER_CRSF_BATTERY_PERIOD_MS=1000
CONFIG_STM32_RC_RECEIVER_CRSF_BATTERY_PRIORITY=10
CONFIG_STM32_RC_RECEIVER_CRSF_BATTERY_SEND_ON_CHANGE=y
CONFIG_STM32_RC_RECEIVER_CRSF_BATTERY_MAX_SILENCE_MS=5000
# end of Battery

#
# Flight Mode
#
CONFIG_STM32_RC_RECEIVER_CRSF_FLIGHT_MODE_PERIOD_MS=500
CONFIG_STM32_RC_RECEIVER_CRSF_FLIGHT_MODE_PRIORITY=12
CONFIG_STM32_RC_RECEIVER_CRSF_FLIGHT_MODE_SEND_ON_CHANGE=y
CONFIG_STM32_RC_RECEIVER_CRSF_FLIGHT_MODE_MAX_SILENCE_MS=2000
# end of Flight Mode

#
# Attitude
#
CONFIG_STM32_RC_RECEIVER_CRSF_ATTITUDE_PERIOD_MS=200
CONFIG_STM32_RC_RECEIVER_CRSF_ATTITUDE_PRIORITY=6
CONFIG_STM32_RC_RECEIVER_CRSF_ATTITUDE_SEND_ON_CHANGE=y
CONFIG_STM32_RC_RECEIVER_CRSF_ATTITUDE_MAX_SILENCE_MS=2000
# end of Attitude

#
# RPM
#
CONFIG_STM32_RC_RECEIVER_CRSF_RPM_PERIOD_MS=500
CONFIG_STM32_RC_RECEIVER_CRSF_RPM_PRIORITY=8
CONFIG_STM32_RC_RECEIVER_CRSF_RPM_SEND_ON_CHANGE=y
CONFIG_STM32_RC_RECEIVER_CRSF_RPM_MAX_SILENCE_MS=5000
# end of RPM

#
# Temperature
#
CONFIG_STM32_RC_RECEIVER_CRSF_TEMPERATURE_PERIOD_MS=1000
CONFIG_STM32_RC_RECEIVER_CRSF_TEMPERATURE_PRIORITY=7
CONFIG_STM32_RC_RECEIVER_CRSF_TEMPERATURE_SEND_ON_CHANGE=y
CONFIG_STM32_RC_RECEIVER_CRSF_TEMPERATURE_MAX_SILENCE_MS=5000
# end of Temperature

#
# GPS Time
#
CONFIG_STM32_RC_RECEIVER_CRSF_GPS_TIME_PERIOD_MS=10000
CONFIG_STM32_RC_RECEIVER_CRSF_GPS_TIME_PRIORITY=2
# CONFIG_STM32_RC_RECEIVER_CRSF_GPS_TIME_SEND_ON_CHANGE is not set
CONFIG_STM32_RC_RECEIVER_CRSF_GPS_TIME_MAX_SILENCE_MS=0
# end of GPS Time
# end of CRSF Telemetry

#
# Channel Mapping
#
CONFIG_STM32_RC_MAP_ROLL=1
CONFIG_STM32_RC_MAP_PITCH=2
CONFIG_STM32_RC_MAP_YAW=4
CONFIG_STM32_RC_MAP_THROTTLE=3
CONFIG_STM32_RC_MAP_ARM=5
CONFIG_STM32_RC_MAP_ARM_MIN_US=1750
CONFIG_STM32_RC_MAP_ARM_MAX_US=2100
CONFIG_STM32_RC_MAP_MODE=7
CONFIG_STM32_RC_MAP_MODE_THRESHOLD_US=1250
# end of Channel Mapping
# end of RC Receiver

#
# ESC Service
#
CONFIG_STM32_ESC_SERVICE_DSHOT_GAP_BITS=2
CONFIG_STM32_ESC_SERVICE_IDLE_PERIOD_US=1000
CONFIG_STM32_ESC_SERVICE_COMMAND_PERIOD_US=2000
CONFIG_STM32_ESC_SERVICE_TELEMETRY_REQUEST_PERIOD_US=4000
CONFIG_STM32_ESC_SERVICE_COMMAND_REPEAT_COUNT=10
CONFIG_STM32_ESC_SERVICE_FIRMWARE_CHECKS=y
# end of ESC Service

#
# Log Service
#
CONFIG_STM32_LOG_PREALLOC_MB=256
CONFIG_STM32_LOG_TOPIC_RAW_IMU=y
CONFIG_STM32_LOG_TOPIC_RC_INPUT_PERIOD_MS=200
CONFIG_STM32_LOG_TOPIC_BATTERY_PERIOD_MS=200
CONFIG_STM32_LOG_TOPIC_ESC_TELEMETRY_PERIOD_MS=0
CONFIG_STM32_LOG_TOPIC_GPS_PERIOD_MS=100
CONFIG_STM32_LOG_TOPIC_IMU_HEALTH_PERIOD_MS=200
CONFIG_STM32_LOG_TOPIC_CRSF_LINK_PERIOD_MS=100
CONFIG_STM32_LOG_TOPIC_SYSTEM_HEALTH_PERIOD_MS=1000
CONFIG_STM32_LOG_TOPIC_LOGGER_STATUS_PERIOD_MS=200
# end of Log Service

#
# Sentinel
#
CONFIG_STM32_SENTINEL_IMU_LOSS_PERMILLE=5
CONFIG_STM32_SENTINEL_IMU_LOSS_WINDOW_MS=1000
CONFIG_STM32_SENTINEL_IMU_LOSS_CONSECUTIVE=3
CONFIG_STM32_SENTINEL_IMU_FAULT_THRESHOLD=3
CONFIG_STM32_SENTINEL_IMU_FAULT_WINDOW_MS=1000
CONFIG_STM32_SENTINEL_IMU_STALL_TIMEOUT_MS=20
CONFIG_STM32_SENTINEL_TEST_THROTTLE_SILENCE_MS=500

#
# Failsafe
#
CONFIG_STM32_SENTINEL_RC_LOSS_TIMEOUT_MS=500
CONFIG_STM32_SENTINEL_FAILSAFE_GUARD_MS=1500
CONFIG_STM32_SENTINEL_FAILSAFE_RECOVERY_MS=500
# end of Failsafe
# end of Sentinel
# end of Services

#
# Flight Control
#

#
# AHRS
#
CONFIG_STM32_AHRS_KP_ACCEL_MILLI=1000
CONFIG_STM32_AHRS_KI_BIAS_MILLI=10
CONFIG_STM32_AHRS_ACCEL_TRUST_FULL_DEV_MILLI=20
CONFIG_STM32_AHRS_ACCEL_TRUST_ZERO_DEV_MILLI=50
CONFIG_STM32_AHRS_GYRO_QUIESCENT_FULL_MILLI=50
CONFIG_STM32_AHRS_GYRO_QUIESCENT_ZERO_MILLI=200
# end of AHRS

#
# Rate Controller
#
CONFIG_STM32_RATE_CTRL_SMOOTHING_ENABLED=y
CONFIG_STM32_RATE_CTRL_INTEGRATOR_CLAMP_MILLI=500
CONFIG_STM32_RATE_CTRL_OUTPUT_CLAMP_MILLI=1000
CONFIG_STM32_RATE_CTRL_DLPF_CUTOFF_HZ=18
CONFIG_STM32_RATE_CTRL_ROLL_KP_MILLI=150
CONFIG_STM32_RATE_CTRL_ROLL_KI_MILLI=200
CONFIG_STM32_RATE_CTRL_ROLL_KD_MICRO=3000
CONFIG_STM32_RATE_CTRL_ROLL_SP_RATE_LIMIT=100
CONFIG_STM32_RATE_CTRL_ROLL_SP_LPF_CUTOFF_HZ=70
CONFIG_STM32_RATE_CTRL_PITCH_KP_MILLI=150
CONFIG_STM32_RATE_CTRL_PITCH_KI_MILLI=200
CONFIG_STM32_RATE_CTRL_PITCH_KD_MICRO=3000
CONFIG_STM32_RATE_CTRL_PITCH_SP_RATE_LIMIT=100
CONFIG_STM32_RATE_CTRL_PITCH_SP_LPF_CUTOFF_HZ=70
CONFIG_STM32_RATE_CTRL_YAW_KP_MILLI=200
CONFIG_STM32_RATE_CTRL_YAW_KI_MILLI=100
CONFIG_STM32_RATE_CTRL_YAW_KD_MICRO=500
CONFIG_STM32_RATE_CTRL_YAW_SP_RATE_LIMIT=100
CONFIG_STM32_RATE_CTRL_YAW_SP_LPF_CUTOFF_HZ=70
CONFIG_STM32_RATE_CTRL_ITERM_FREEZE_BELOW_THROTTLE_MILLI=50
CONFIG_STM32_RATE_CTRL_I_FACTOR_ERROR_THRESH_MILLI=7000
CONFIG_STM32_RATE_CTRL_YAW_OUTPUT_LPF_CUTOFF_HZ=150
# end of Rate Controller

#
# Attitude Controller
#
CONFIG_STM32_ATT_CTRL_ROLL_KP_MILLI=6000
CONFIG_STM32_ATT_CTRL_ROLL_RATE_CLAMP_MILLI=6000
CONFIG_STM32_ATT_CTRL_PITCH_KP_MILLI=6000
CONFIG_STM32_ATT_CTRL_PITCH_RATE_CLAMP_MILLI=6000
CONFIG_STM32_ATT_CTRL_YAW_KP_MILLI=6000
CONFIG_STM32_ATT_CTRL_YAW_RATE_CLAMP_MILLI=4000
# end of Attitude Controller

#
# Multirotor Mixer
#
CONFIG_STM32_MULTIROTOR_MIXER_IDLE_MILLI=50
CONFIG_STM32_PILOT_THROTTLE_MIN_MILLI=80
# end of Multirotor Mixer

#
# Flight Mode
#
CONFIG_STM32_PILOT_ACRO_MAX_RATE_ROLL_PITCH_MILLI=6000
CONFIG_STM32_PILOT_ACRO_MAX_RATE_YAW_MILLI=4000
CONFIG_STM32_PILOT_STABILIZE_MAX_TILT_DEG=30
# end of Flight Mode
# end of Flight Control
# end of STM32
