
#
# ESP32
#

#
# ESP32 config section reserved. No tunables added yet.
#
# end of ESP32

#
# STM32
#

#
# IMU
#

#
# ICM42688P
#
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV2 is not set
CONFIG_STM32_IMU_SPI_PRESCALER_DIV4=y
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV8 is not set
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV16 is not set
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV32 is not set
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV64 is not set
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV128 is not set
# CONFIG_STM32_IMU_SPI_PRESCALER_DIV256 is not set
# CONFIG_STM32_IMU_GYRO_ODR_32KHZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_16KHZ is not set
CONFIG_STM32_IMU_GYRO_ODR_8KHZ=y
# CONFIG_STM32_IMU_GYRO_ODR_4KHZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_2KHZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_1KHZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_500HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_200HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_100HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_50HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_25HZ is not set
# CONFIG_STM32_IMU_GYRO_ODR_12_5HZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_32KHZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_16KHZ is not set
CONFIG_STM32_IMU_ACCEL_ODR_8KHZ=y
# CONFIG_STM32_IMU_ACCEL_ODR_4KHZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_2KHZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_1KHZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_500HZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_200HZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_100HZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_50HZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_25HZ is not set
# CONFIG_STM32_IMU_ACCEL_ODR_12_5HZ is not set
CONFIG_STM32_IMU_GYRO_FS_2000DPS=y
# CONFIG_STM32_IMU_GYRO_FS_1000DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_500DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_250DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_125DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_62_5DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_31_25DPS is not set
# CONFIG_STM32_IMU_GYRO_FS_15_625DPS is not set
# CONFIG_STM32_IMU_ACCEL_FS_16G is not set
CONFIG_STM32_IMU_ACCEL_FS_8G=y
# CONFIG_STM32_IMU_ACCEL_FS_4G is not set
# CONFIG_STM32_IMU_ACCEL_FS_2G is not set
CONFIG_STM32_IMU_UI_FILTER_GYRO_BW=2
CONFIG_STM32_IMU_UI_FILTER_ACCEL_BW=3
CONFIG_STM32_IMU_UI_FILTER_GYRO_CFG1=0
CONFIG_STM32_IMU_UI_FILTER_ACCEL_CFG1=0
# CONFIG_STM32_IMU_NOTCH_ENABLED is not set
CONFIG_STM32_IMU_NOTCH_FREQ_HZ=0
CONFIG_STM32_IMU_NOTCH_BW_IDX=0
CONFIG_STM32_IMU_GYRO_AAF_DISABLE=y
CONFIG_STM32_IMU_GYRO_AAF_DELT=0
CONFIG_STM32_IMU_GYRO_AAF_DELT_SQR=0
CONFIG_STM32_IMU_GYRO_AAF_BITSHIFT=0
CONFIG_STM32_IMU_ACCEL_AAF_DISABLE=y
CONFIG_STM32_IMU_ACCEL_AAF_DELT=0
CONFIG_STM32_IMU_ACCEL_AAF_DELT_SQR=0
CONFIG_STM32_IMU_ACCEL_AAF_BITSHIFT=0
CONFIG_STM32_IMU_FIFO_WATERMARK_RECORDS=8
# CONFIG_STM32_IMU_FIFO_HOLD_LAST is not set
CONFIG_STM32_IMU_GYRO_CAL_DURATION_S=2
CONFIG_STM32_IMU_GYRO_CAL_TIMEOUT_S=5
CONFIG_STM32_IMU_GYRO_CAL_STILL_THRESHOLD_RAW=64
# end of ICM42688P
# end of IMU
# end of STM32
